body {
	background: #eeeeee;
}

body, html, #wrapper {
	width: 100%;
	height: 100%;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; 
}

a:active,
a:hover {
	color: #1a004f;
  	outline-width: 0; 
  	text-decoration: none;
}

a {
  color: #DBC040;
  
}

#wrapper {
	padding-top : 80px;
}

	.main-container {
		padding: 30px 0px;
	}

.limited {
	max-width: 1350px;
}

.no-border {
	border: none;
}

.inner-box {
  background: #ffffff;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 2px 0.8px rgba(180, 180, 180, 0.5);
  margin-bottom: 30px;
  padding: 20px 15px;
}

.content-box {
  background: #ffffff;
  border-radius: 3px;
  display: block;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 2px 0.8px rgba(180, 180, 180, 0.5);
  overflow: hidden;
  margin-bottom: 31px; 
}

.row-featured {
  overflow: hidden;
  margin-right: -16px; 
}

.box-title {
  border-bottom: solid 4px #1a004f;
  text-align: left; 
}
  .box-title h2 {
    margin: 15px 0;
    padding: 0;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
  }
  .box-title h2 span {
    font-weight: lighter; 
  }

 .view-more {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.54px;
  padding: 15px;
  position: absolute;
  right: 1px;
  text-align: center;
  text-transform: uppercase;
  top: 5px; 
}
  @media (max-width: 767px) {
    .view-more {
      font-size: 11px;
      padding: 2px 7px;
      right: 1px;
      top: 17px; 
    } 
  }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  border: 1px solid #ccc;
}
  .input-group-addon i.fa{
    width: 36px;
    height: 36px;
    display: block;
    background-color: #2196f3;
    border-radius: 4px;
    line-height: 36px;
    color: #fff;
  }


.input-group-qty button, .input-group-qty input{
    padding: 2px 4px;
    background: rgb(255,255,255);
    border: 1px solid rgb(204,204,204);
  }

.input-group-qty input{
  width: 40px !important;
  flex: none !important;
}

.input-group-qty .input-group-qty-minus{
  border-radius: 0px;
}

.input-group-qty .input-group-qty-plus{
  border-radius: 0px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

  /* Helper class */
.uppercase {
  	text-transform: uppercase; }

.relative {
  	position: relative; }

.no-margin {
  	margin: 0 !important; }

.no-padding {
  	padding: 0 !important; }

.no-border {
  	border: 0; }

    .no-border-t {
      border-top: 0; }
    .no-border-r {
      border-right: 0; }
    .no-border-b {
      border-bottom: 0; }
    .no-border-l {
      border-left: 0; }

.width100, .w100 {
  	width: 100%; }

.hw100 {
  	height: 100%;
  	width: 100%; }

.dtable {
  	display: table; }

.dtable-cell {
  	display: table-cell;
  	vertical-align: middle; }

hr.small {
  	background-color: #000;
  	height: 2px;
  	margin-top: 30px;
  	margin-bottom: 30px;
  	width: 44px; }

.text-hr {
  	margin-bottom: 60px !important;
  	margin-top: 0 !important; }

.mt15 {
  	margin-top: 15px; }

.mt10 {
  	margin-top: 10px; }

.mt20 {
  	margin-top: 20px; }

.mt5 {
  	margin-top: 5px; }

.mb15 {
  	margin-bottom: 15px; }

.mb10 {
  	margin-bottom: 10px; }

.mb20 {
  	margin-bottom: 20px; }

.mb5 {
  margin-bottom: 5px; }

.color-white {
  	color: #fff; }

.color-danger {
  	color: #E74C3C; }

.color-success {
  	color: #2ECC71; }

.color-info {
  	color: #e4cb65; }

.color-danger {
  	color: #E74C3C; }

.link-color {
  	color: #369; }

.mb10 {
  	margin-bottom: 10px; }

.mb15 {
  	margin-bottom: 10px; }

.mb20 {
  	margin-bottom: 10px; }

.mb25 {
  	margin-bottom: 10px; }

.mb30 {
  	margin-bottom: 10px; }

.mb40 {
  	margin-bottom: 10px; }

.mb50 {
  	margin-bottom: 10px; }

.mb60 {
  	margin-bottom: 10px; }

.pip-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hide-visually {
  	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px; }

.border-light {
  border: 1px solid #f8f9fa !important;}

.bg-light {
  background: #eee !important;}

.bg-white {
  background: white;
}