body {
	background: #eeeeee;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; 
}

a:active,
a:hover {
	color: #1a004f;
  	outline-width: 0; 
}

a {
  color: #DBC040;
  
}

.no-border {
	border: none;
}