@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

body {
	/*background: #eeeeee;*/
  font-family : 'Maven Pro';
}

body, html {
	width: 100%;
	height: 100%;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; 
}

a:active,
a:hover {
	color: #1a004f;
  	outline-width: 0; 
  	text-decoration: none;
}

a {
  color:navy;
  
}

#wrapper {
	padding-top : 40px;
}

	.main-container {
		padding: 30px 0px;
	}

.limited {
	max-width: 1350px;
}

.no-border {
	border: none;
}

.inner-box {
  background: #ffffff;
  border-radius: 3px 3px;
  /*box-shadow: 1px 1px 2px 0.8px rgba(180, 180, 180, 0.5);*/
  margin-bottom: 30px;
  padding: 20px 15px;
}

.content-box {
  background: #ffffff;
  border-radius: 3px;
  display: block;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 2px 0.8px rgba(180, 180, 180, 0.5);
  overflow: hidden;
  margin-bottom: 31px; 
}

.row-featured {
  overflow: hidden;
  margin-top: 50px;
  margin-right: -16px; 
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  border: 1px solid #ccc;
}
  .input-group-addon i.fa{
    width: 36px;
    height: 36px;
    display: block;
    background-color: #2196f3;
    border-radius: 4px;
    line-height: 36px;
    color: #fff;
  }


.input-group-qty, .product-filter-size {
  padding: 10px 0px;
}

  .input-group-qty input{
    flex: none !important;
  }

  .input-group-qty button{
    width: 100%;
  }

  .input-group-qty button, .input-group-qty input{
    padding: 2px 4px;
    background: rgb(255,255,255);
    border: 1px solid rgb(204,204,204);
    height: calc(2.25rem + 2px);
  }

  .input-group-qty .input-group-qty-minus{
    border-radius: 0px;
  }

  .input-group-qty .input-group-qty-plus{
    border-radius: 0px;
  }

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}


.product-rating, .review-rating {
  display: inline-block;
}

  .product-rating i, .review-rating i {
    display: inline-block;
      margin-right: 2px;
      color: #cad0d9;
      font-size: 14px;
  }
  .product-rating i.filled, .review-rating i.filled {
      color: #ffb74f;
  }

  /* Helper class */
.uppercase {
  	text-transform: uppercase; }

.relative {
  	position: relative; }

.no-margin {
  	margin: 0 !important; }

.no-padding {
  	padding: 0 !important; }

.no-border {
  	border: 0; }

    .no-border-t {
      border-top: 0; }
    .no-border-r {
      border-right: 0; }
    .no-border-b {
      border-bottom: 0; }
    .no-border-l {
      border-left: 0; }

.width100, .w100 {
  	width: 100%; }

.hw100 {
  	height: 100%;
  	width: 100%; }

.dtable {
  	display: table; }

.dtable-cell {
  	display: table-cell;
  	vertical-align: middle; }

hr.small {
  	background-color: #000;
  	height: 2px;
  	margin-top: 30px;
  	margin-bottom: 30px;
  	width: 44px; }

.text-hr {
  	margin-bottom: 60px !important;
  	margin-top: 0 !important; }

.mt15 {
  	margin-top: 15px; }

.mt10 {
  	margin-top: 10px; }

.mt20 {
  	margin-top: 20px; }

.mt5 {
  	margin-top: 5px; }

.mb15 {
  	margin-bottom: 15px; }

.mb10 {
  	margin-bottom: 10px; }

.mb20 {
  	margin-bottom: 20px; }

.mb5 {
  margin-bottom: 5px; }

.color-white {
  	color: #fff; }

.color-danger {
  	color: #E74C3C; }

.color-success {
  	color: #2ECC71; }

.color-info {
  	color: #e4cb65; }

.color-danger {
  	color: #E74C3C; }

.link-color {
  	color: #369; }

.p10 {
  padding: 10px;
}

.w25 {
  width: 25% !important;
}

.w50 {
  width: 50% !important;}

.pip-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.hide-visually {
  	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px; }

.border-light {
  border: 1px solid #f8f9fa !important;}

.bg-light {
  background: #eee !important;}

.bg-white {
  background: white;
}

  

.btn-outline-viewmore{
  color: #1a004f;
  background-color: transparent;
  background-image: none;
  border-color: #1a004f;
  transition: .5s;
}

  .btn-outline-viewmore:hover{
    color: white;
    background: #1a004f;
    transition: .3s;
  }


  /*Box Title Css*/
/*=======================================  */
.box-title {
  text-align: left; 
  border-bottom: solid 3px #1a004f;
  padding: 0px;
  margin-top: 30px;
}
  .box-title .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    /*margin: 4px;*/
    padding: 8px 0px;
  }
  .box-title .inner h2 {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 18px;
    max-width: 50%;
  }
  .box-title .inner h2 span {
    font-weight: lighter; 
  }
  .box-title .inner a {
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
  }