<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/components/seller-card.css">
</head>
<body>
    
    <div id="wrapper">
        <div class="main-container">
            <div class="container-fluid limited">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-store">
                                <div class="row">
                                    <div class="col-md-4 padding-r-0">
                                        <div class="p-store__image">
                                            <a href="">
                                                <img src="img/product/product-6.jpg" alt="store-image">   
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="p-store__info">
                                            <p class="p-store__info-name"><a href="">Seller Name</a></p>
                                            <p>
                                                Reputation : <span class="p-store__info-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                                            </p>
                                            <p>Last Onlne : <span class="p-store__info-onlne">5 minutes ago</span></p>
                                            <p>See Feedback : <a href="">100 feedback</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-store__info-row white-card">
                                    <div class="col-md-6">
                                        <p><b>Transaction Success</b></p>
                                        <p class="p-store__success">100%</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Status</b></p>
                                        <p class="p-store__status p-store__status-gold">Gold</p>
                                    </div>
                                </div>
                                <div class="row p-store__info-row white-card">
                                    <div class="col-md-6">
                                        <p><b>Response Time</b></p>
                                        <p class="p-store__respose-time">&lt; 24h</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Response Rate</b></p>
                                        <p class="p-store__response-rate">100%</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="" class="btn btn-warning btn-sm btn-block btn-p-store"><i class="fa fa-heart-o"></i> Favorite Seller</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" class="btn btn-primary btn-sm btn-block btn-p-store"><i class="fa fa-commenting-o"></i> Chat Seller</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>