/* =============================================================== */
/* CHANGE PROFILE || Account// Address
/* =============================================================== */

.change-profile li {
    text-align: center;
    margin-bottom: 20px;
}

.change-profile li a {
    font-size: 14px;
    display: block;
    width: 100%;
}

.change-profile .thumbnail {
    display: flex;
    align-items:center;
    text-align:center;
    height: 100%;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.change-profile .thumbnail:hover {
    background: #F5F5F5;
}

.change-profile li a i {
    display: block;
    clear: both;
    font-size: 44px;
    margin-bottom: 10px;
}

@media screen and (max-width: 620px) {
    .change-profile li a i {
        font-size: 28px;
    }
}