.footer{
	background: #f2f2f2;
	font-size: 14px;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
	.footer .f-link {
		padding-top: 40px;
	}

	.f-link ul {
		padding: 0px;
	}

	.f-link ul li {
		list-style-type: none;
	}

	.f-link ul li a {
		color: #888888;
		font-weight: 100;
	}

	.f-link__apps img {
		height: 60px;
		padding-bottom: 8px;
	}