.featured-list-row {
  clear: both;
  max-width: 90%;
  float: none;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  direction: ltr; 
}

nav.slider-nav a.prev {
    left: -15px;
}
nav.slider-nav a.next {
	right: -15px; 
}

nav.slider-nav a {
	position: absolute;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 90;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
    }
  	nav.slider-nav a svg {
  	  	display: block;
  	  	margin: 0 auto;
  	  	padding: 0;
  	}
  	nav.slider-nav a.prev {
  	  	left: -45px; 
  	}
  	  	@media (max-width: 575px) {
  	    	nav.slider-nav a.prev {
  	      		left: -15px; 
  	      	}
  	    }
  		nav.slider-nav a.next {
  	  		right: -45px;
  	  	}
    	@media (max-width: 575px) {
      		nav.slider-nav a.next {
        		right: -15px;
        	}
        }

/*Section .nav-arrow-svg*/
	
	.nav-narrow-svg a {
	  width: 100px;
	  height: 100px;
	}

	.nav-narrow-svg a.next::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
       -moz-transform: translateX(-50%) rotate(135deg);
         -o-transform: translateX(-50%) rotate(135deg);
            transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0; 
    }

    .nav-narrow-svg a.next .nav-icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
       -moz-transform: translateX(-50%) rotate(135deg);
         -o-transform: translateX(-50%) rotate(135deg);
            transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
    }
    .nav-narrow-svg a.next .nav-icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
       -moz-transform: translateX(-50%) rotate(45deg);
         -o-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0;
       -moz-transform-origin: 100% 0;
         -o-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  .nav-narrow-svg a.next:hover::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
       -moz-transform: translateX(-50%) rotate(125deg);
         -o-transform: translateX(-50%) rotate(125deg);
            transform: translateX(-50%) rotate(125deg); }
  .nav-narrow-svg a.next:hover .nav-icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
       -moz-transform: translateX(-50%) rotate(125deg);
         -o-transform: translateX(-50%) rotate(125deg);
            transform: translateX(-50%) rotate(125deg); }
  .nav-narrow-svg a.next:hover .nav-icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
       -moz-transform: translateX(-50%) rotate(55deg);
         -o-transform: translateX(-50%) rotate(55deg);
            transform: translateX(-50%) rotate(55deg); }
  .nav-narrow-svg a.next:hover::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
       -moz-transform: translateX(-50%) rotate(55deg);
         -o-transform: translateX(-50%) rotate(55deg);
            transform: translateX(-50%) rotate(55deg); }
  .nav-narrow-svg a.next::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
       -moz-transform: translateX(-50%) rotate(45deg);
         -o-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0;
       -moz-transform-origin: 100% 0;
         -o-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  .nav-narrow-svg a:hover .nav-icon-wrap::before {
    height: 50%;
    -webkit-transform: translateX(-50%) rotate(-125deg);
       -moz-transform: translateX(-50%) rotate(-125deg);
         -o-transform: translateX(-50%) rotate(-125deg);
            transform: translateX(-50%) rotate(-125deg); }
  .nav-narrow-svg a:hover .nav-icon-wrap::after {
    height: 50%;
    -webkit-transform: translateX(-50%) rotate(-55deg);
       -moz-transform: translateX(-50%) rotate(-55deg);
         -o-transform: translateX(-50%) rotate(-55deg);
            transform: translateX(-50%) rotate(-55deg); }
  .nav-narrow-svg a:hover::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
       -moz-transform: translateX(-50%) rotate(-125deg);
         -o-transform: translateX(-50%) rotate(-125deg);
            transform: translateX(-50%) rotate(-125deg); }
  .nav-narrow-svg a:hover::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
       -moz-transform: translateX(-50%) rotate(-55deg);
         -o-transform: translateX(-50%) rotate(-55deg);
            transform: translateX(-50%) rotate(-55deg); }
	.nav-narrow-svg .nav-icon-wrap {
	  	position: relative;
	  	display: block;
	  	width: 100%;
	  	height: 100%;
	}
	.nav-narrow-svg a::before {
		position: absolute;
		left: 50%;
		width: 2px;
		height: 50%;
		background: #777;
		content: '';
		-webkit-transition: -webkit-transform 0.3s;
		   -moz-transition: -moz-transform 0.3s;
		     -o-transition: -o-transform 0.3s;
		        transition: transform 0.3s;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		        backface-visibility: hidden;
		top: 50%;
		-webkit-transform: translateX(-50%) rotate(-135deg);
		   -moz-transform: translateX(-50%) rotate(-135deg);
		     -o-transform: translateX(-50%) rotate(-135deg);
		        transform: translateX(-50%) rotate(-135deg);
		-webkit-transform-origin: 50% 0;
		   -moz-transform-origin: 50% 0;
		     -o-transform-origin: 50% 0;
		          transform-origin: 50% 0; }
.nav-narrow-svg a::after {
  	position: absolute;
  	left: 50%;
  	width: 2px;
  	height: 50%;
  	background: #777;
  	content: '';
  	-webkit-transition: -webkit-transform 0.3s;
  	   -moz-transition: -moz-transform 0.3s;
  	     -o-transition: -o-transform 0.3s;
  	        transition: transform 0.3s;
  	-webkit-backface-visibility: hidden;
  	   -moz-backface-visibility: hidden;
  	        backface-visibility: hidden;
  	top: 50%;
  	-webkit-transform: translateX(-50%) rotate(-45deg);
  	   -moz-transform: translateX(-50%) rotate(-45deg);
  	     -o-transform: translateX(-50%) rotate(-45deg);
  	        transform: translateX(-50%) rotate(-45deg);
  	-webkit-transform-origin: 0 0;
  	   -moz-transform-origin: 0 0;
  	     -o-transform-origin: 0 0;
  	        transform-origin: 0 0; }
	
  	.nav-narrow-svg .nav-icon-wrap::before {
  		position: absolute;
  		left: 50%;
  		width: 2px;
  		height: 0;
  		background: #ffffff;
  		content: '';
  		-webkit-transition: height 0.3s, -webkit-transform 0.3s;
  		   -moz-transition: height 0.3s, -moz-transform 0.3s;
    	     -o-transition: height 0.3s, -o-transform 0.3s;
    	        transition: height 0.3s, transform 0.3s;
  		-webkit-backface-visibility: hidden;
    	   -moz-backface-visibility: hidden;
    	        backface-visibility: hidden;
 	 	z-index: 100;
  		top: 50%;
		-webkit-transform: translateX(-50%) rotate(-135deg);
		   -moz-transform: translateX(-50%) rotate(-135deg);
		     -o-transform: translateX(-50%) rotate(-135deg);
		        transform: translateX(-50%) rotate(-135deg);
		-webkit-transform-origin: 50% 0;
		   -moz-transform-origin: 50% 0;
		     -o-transform-origin: 50% 0;	
		        transform-origin: 50% 0; }
.nav-narrow-svg .nav-icon-wrap::after {
  	position: absolute;
  	left: 50%;
  	width: 2px;
  	height: 50%;
  	height: 0;
  	background: #777;
  	background: #ffffff;
  	content: '';
  	-webkit-transition: -webkit-transform 0.3s;
  	   -moz-transition: -moz-transform 0.3s;
  	     -o-transition: -o-transform 0.3s;
  	        transition: transform 0.3s;
  	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
  	   -moz-transition: height 0.3s, -moz-transform 0.3s;
  	     -o-transition: height 0.3s, -o-transform 0.3s;
  	        transition: height 0.3s, transform 0.3s;
  	-webkit-backface-visibility: hidden;
  	   -moz-backface-visibility: hidden;
  	        backface-visibility: hidden;
  	z-index: 100;
  	top: 50%;
  	-webkit-transform: translateX(-50%) rotate(-45deg);
  	   -moz-transform: translateX(-50%) rotate(-45deg);
  	     -o-transform: translateX(-50%) rotate(-45deg);
  	        transform: translateX(-50%) rotate(-45deg);
  	-webkit-transform-origin: 0 0;
  	   -moz-transform-origin: 0 0;
  	     -o-transform-origin: 0 0;
  	        transform-origin: 0 0; }
.nav-narrow-svg.has-white-bg .nav-icon-wrap::before {
  	z-index: 100;
  	height: 0;
  	background: #cccccc;
  	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
  	   -moz-transition: height 0.3s, -moz-transform 0.3s;
  	     -o-transition: height 0.3s, -o-transform 0.3s;
  	        transition: height 0.3s, transform 0.3s; }
.nav-narrow-svg.has-white-bg .nav-icon-wrap::after {
  	z-index: 100;
  	height: 0;
  	background: #cccccc;
  	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
  	   -moz-transition: height 0.3s, -moz-transform 0.3s;
  	     -o-transition: height 0.3s, -o-transform 0.3s;
  	        transition: height 0.3s, transform 0.3s; }
.nav-narrow-svg.has-white-bg a {
  width: 40px;
  height: 40px; }

/*Section .featured-list-slider*/
	.featured-list-slider .item {
	  display: block;
	  margin: 0 auto;
	  text-align: center;
	}
	  	.featured-list-slider .item .price {
	    	color: #888; 
		}
	  	.featured-list-slider .item > a {
	    	display: block;
	    	padding: 30px;
	    	border: solid 1px transparent;
	    }
	    .featured-list-slider .item > a:hover {
	      	background: #f5f5f5;
	      	border: solid 1px #ddd;
	  	}
	  	.featured-list-slider .item .item-name {
		    display: block;
		    line-height: normal;
		    color: #333;
		    font-family: "Roboto", Helvetica, Arial, sans-serif;
		    font-size: 13px;
		    font-weight: 500;
		    letter-spacing: 0;
		    min-height: 34px;
		    margin: 10px 0;
		    padding-bottom: 0;
	    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0.1s;
	       -moz-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0.1s;
	         -o-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0.1s;
	            transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0.1s; 
	    }
	  	.featured-list-slider .item:hover img {
	    -webkit-transform: translateY(-3px);
	       -moz-transform: translateY(-3px);
	         -o-transform: translateY(-3px);
	            transform: translateY(-3px);
	    }
	  	.featured-list-slider .item:hover .item-name {
	    -webkit-transform: scale(1) translateY(2px);
	       -moz-transform: scale(1) translateY(2px);
	         -o-transform: scale(1) translateY(2px);
	            transform: scale(1) translateY(2px); 
	    }
	  	.featured-list-slider .item a img {
	    width: 100%;
	    -webkit-transition: all 0.25s cubic-bezier(0.3, 0, 1, 1) 0s;
	       -moz-transition: all 0.25s cubic-bezier(0.3, 0, 1, 1) 0s;
	         -o-transition: all 0.25s cubic-bezier(0.3, 0, 1, 1) 0s;
	            transition: all 0.25s cubic-bezier(0.3, 0, 1, 1) 0s; 
	    }
	.featured-list-slider .owl-item {
	  overflow: hidden; 
	}
	.featured-list-slider span {
	  display: block; 
	}
	.featured-list-slider .item-carousel-thumb {
	  display: block;
	  margin-bottom: 10px;
	  max-width: 100%; 
	}
	.featured-list-row {
	  clear: both;
	  max-width: 90%;
	  float: none;
	  margin: 0 auto;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  direction: ltr; 
	}


