.item {
	padding-bottom: 10px;
}

.product-filter {
	border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
	.product-filter-status {
		width: 50%;
	}
	.product-filter-control {

	}
	.product-filter-control .change-view {
		margin-right: 4px;
	}
	.product-filter-control .change-view .list-view {

	}
	.product-filter p {
    	font-size: 14px;
    	margin: 0px;
	}

.product-filter-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-filter-grid {
	padding: 10px;
}