.product-description {
	padding : 10px 0px;
}

.nav-tabs {
	border-bottom: 3px solid navy;
	margin-bottom: 20px;
}
	.nav-tabs .nav-item .nav-link {
		display: block;
	    font-size: 14px;
	    font-weight: 200;
	    letter-spacing: 2px;
	    margin: 0 0 0 0;
	    text-transform: uppercase;
	    padding: 10px 15px;
	    border:0px;
	}
	.nav-tabs .nav-item .nav-link:hover{
		color: gold;
		background: navy;
		border:0px;
		border-radius : 0px;
	}
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-item.show .nav-link{
		background: navy;
		color: gold;
		border:0px;
		border-radius: 0px;
	}

.comment {
	display: block;
    position: relative;
    margin-bottom: 30px;
    padding-left: 66px;
}
	.comment .comment-author-ava {
		display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 50px;
	    border-radius: 50%;
	    overflow: hidden;
	}
	.comment .comment-author-ava>img {
		display: block;
    	width: 100%;
	}
	.comment .comment-body {
		position: relative;
	    padding: 12px;
	    border: 1px solid #e1e7ec;
	    border-radius: 7px;
	    background-color: #fff;
	}
	.comment .comment-body::before {
		margin-top: -1px;
	    border-width: 10px;
	    border-color: transparent;
	    border-right-color: #e1e7ec;
	    position: absolute;
	}
	.comment .comment-body::before {
	    top: 12px;
	    right: 100%;
	    width: 0;
	    height: 0;
	    border: solid transparent;
	    content: '';
	    pointer-events: none;
	}
	.comment .comment-title {
		margin-bottom: 8px;
	    color: #606975;
	    font-size: 14px;
	    font-weight: 500;
	}
	.comment .comment-name {
		color: #9da9b9;
    	font-size: 13px;
	}