.product-filter-grid {

}
	.product-filter-grid .item {
		padding: 0px 4px 10px 4px;
	}

.product-card {
	display: block;
    position: relative;
    width: 100%;
    padding: 0px 4px;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #fff;
}
	.product-card .product-badge{
		position: absolute;
		top: 18px;
    	left: 18px;
	}

	.product-card .product-rating {
		position: absolute;
		top: 18px;
    	right: 18px;
	}
	
	.product-card .product-thumb {
		display: block;
    	width: 100%;
    	text-align: center;
	}
	.product-card .product-thumb>img {
		/*display: block;*/
    	width: 80%;
	}

	.product-card .product-title {
		margin: 0px;
	    font-size: 16px;
	    font-weight: 500;
	    text-align: center;
	}
	.product-card .product-title>a {
		transition: color .3s;
    	color: #374250;
    	text-decoration: none;
	}

	.product-card .product-store {
		font-size: 12px;
		color: rgba(0,0,0,.38);
		font-weight: 100;
		text-align: center;
		margin: 0px;
		padding-top: 6px;
		padding-bottom: 8px;
	}

	.product-card .product-price {
	    color: #606975;
	    font-size: 18px;
	    font-weight: 500;
	    text-align: center;
	    margin: 0px;
	}
	.product-card .product-price>del {
		display: block;
		margin-right: 5px;
    	color: #9da9b9;
    	font-size: 12px;
    	font-weight: 100;
	}

	.product-card .product-buttons {
		padding: 12px 8px;
    	text-align: center;
	}

.product-badge {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
}