.product-details {
	padding: 0px 50px 0px 0px;
}

.product-filter {
	border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    clear: both;
    display: block;
}

.product-status span{
	padding: 5px 15px;
}

.product-title {
	margin: 0px;
	font-size: 20px;
}

.product-rating i {
      color: black;
}
	.product-rating span a {
		font-size: 12px;
	}

.product-price {
	font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0px;
}
	.product-price .price-standard {
		color: #999999;
	    font-size: 14px;
	    font-weight: 200;
	    text-decoration: line-through;		
	}

.color-details {
	margin-top : 14px;
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}
	.color-details strong {
		font-size: 14px;
	}
	.swatches {
	    margin: 0.5em 0;
	    padding-left: 0;
	}

	.swatches li {
	    border: 2px solid #FFFFFF;
	    display: inline-block;
	    margin: 2px 1px;
	    vertical-align: top;
	    list-style: none;
	}

	.swatches .selected, .swatches li:hover {
	    border: 2px solid #ddd;
	}

	.swatches a {
	    position: relative;
	    background-position: center center;
	    background-repeat: no-repeat;
	    border: 2px solid #FFFFFF;
	    box-shadow: 1px 1px 2px #C5C5C5;
	    display: block;
	    height: 33px;
	    text-align: center;
	    transition: all 0.25s ease 0s;
	    width: 33px;
	}

	.swatches a img {
	    height: 29px;
	    width: 29px;
	}

	.swatches li a:after {
	    content: "\f00c";
	    font-family: fontawesome;
	    font-size: 0;
	    font-weight: lighter;
	    color: #fff;
	    transition: font-size 0.25s ease 0.1s;
	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

	}

	.swatches .selected a:after {
	    content: "\f00c";
	    font-family: fontawesome;
	    font-size: 100%;
	    font-weight: lighter;
	    color: #fff;
	    transition: font-size 0.25s ease 0.1s;
	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	}

.product-button button {
	margin: 10px 0px;
	padding: 4px;
	font-size: 16px;
}