
.p-store{
	/*padding-left: 20px;*/
	/*padding: 10px;*/
	/*background: #f5f5f5;*/
	/*border: 1px solid rgba(0,0,0,.125);*/
	border-left: 1px solid rgba(0,0,0,.125);
	/*border-radius: 4px;*/
}
	.p-store .p-store__image{
		position: relative;
	    display: inline-block;
	    vertical-align: middle;
	}

	.p-store .p-store__image a {

	}
	
	.p-store .p-store__image a img {
		padding-top: 10px;
		display: block;
	    width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	}

	.p-store__info-row {
		margin-top: 5px;
	}
	
	.p-store__info-row>div {
		padding: 10px 10px 0px 10px;
	}

	.p-store__info-row p{
		text-align: center;
		font-size: 11px;
	}

	.p-store__name a{
		font-size: 20px;
		font-weight: bold;
	}

	.p-store p{
		font-size: 12px;
		margin: 0px;
	}

	.p-store__info-name a{
		font-size: 14px;
		font-weight: bold;
	}

	.p-store__status {
		width: 50%;
		margin: 0px auto !important;
		padding: 2px 4px;
		color: white;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: 4px;
	}

	.p-store__status-gold {
		background: #DBC040;
	}

	.btn-p-store {
		font-size: 12px;
		color : white;
		margin: 10px 0px;
	}
